.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
  }

.loading-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}